bidict
getch;platform_system=="Linux" or platform_system=="darwin"
gpib-ctypes
Levenshtein
msvcrt;platform_system=="windows"
numpy
ply
pydot
pyparsing
pyserial
pyusb
PyVISA
PyVISA-py
SciPy
simpleeval
matplotlib
scuq
PySide6